*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
  max-width: 800px;
  margin: auto;   
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 16px;

}

.hero{
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1F2937;
    gap: 35px;

}

.logo{
    font-size: 24px;
}

.hero-text{
    padding: 8px;
}

.hero-text h1{
   font-size: 35px;
   font-weight: bolder;
   color: #F9FAF8; 
}

.hero-text p{
    font-size: 18px;
    color: #E5E7EB;
    text-align: justify;
}

 .hero-image img{
    max-width: 100%;
    height: auto;
    margin-right: 20px;
    border-radius: 25px;

}

ul{
    display: flex;
    margin: 0;
    padding: 0;
    gap: 12px;
}

li{
    list-style-type: none;
}
a{
    text-decoration: none;
    font-size: 14px;
    color: #ffffff;
}

.button {
    background: #3882F6;
    padding:  8px 8px;
    text-align: center;
    margin: 4px 2px; 
    border-radius: 12px;
    width: 50%;
}

.tes-container{
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 52px;
    padding-bottom: 46px;
    padding-left: 30px;
    padding-right: 20px;
}

.info{
    max-width: 250px;
}

.title {
    margin-bottom: 32px;
    margin-top: 20px;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
}

.info img{
    width: 100px;
    height: 100px;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

.testimonial{
  background-color: #E5E7EB;
  font-style:  italic;
  font-size: 24px;
  padding: 70px;
  text-align: justify;  
}

.testimonial span{
    text-align: left;
    font-size: small;
    font-weight: 700;
    font-style: normal;
}


.action{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882F6;
    margin: 60px;
    color: #ffffff;
    padding: 16px;
    width: 80%;
    border-radius: 5px;
    gap: 8px;

}

.btn a{
    width: 10px;
    border: 2px solid white;
    padding: 8px;
    border-radius: 5px;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    padding: 16px;
}
.text{
    text-align: center;
}